extends layout 

block content 
    .home-main-container
        if messages
            .messages-container
                for message in messages 
                    .message-card
                        .message-title #{message.title}
                        if (currentUser&&message.author._id.toString()==currentUser._id)
                            .message-author by #{currentUser.username}
                            .message-date Posted on #{message.formattedTimestamp}
                        else if (currentUser&&(currentUser.membershipStatus||currentUser.isAdmin))
                            .message-author by #{message.author.username}
                            .message-date Posted on #{message.formattedTimestamp}
                        .message-text #{message.text}  
                        if (currentUser&&message.author._id.toString()==currentUser._id)||(currentUser&&currentUser.isAdmin)
                            .action-group 
                                a(href=message.url+'/update').header-link Edit
                                a(href=message.url+'/remove').header-link-red Delete
